[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

fiona = "*"
shapely = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"


[requires]

python_version = "3.6"
